version: "3.9"

services:
  frontend:
    image: muditha2002/devops_frontend_image:v2.0.2  # Use image from Docker Hub
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - VITE_API_URL=http://localhost:3001
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    image: muditha2002/devops_backend_image:v2.0.0  # Use image from Docker Hub
    ports:
      - "3001:3001"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    networks:
      - app-network

  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=DevOps
    networks:
      - app-network

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge
