.admin-navbar {
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #0b0338; 
  padding: 20px 20px; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  z-index: 1000; 
}

.admin-navbar .logo {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.admin-navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.admin-navbar ul li a {
  color: white;
  text-decoration: none;
}

.admin-navbar ul li a:hover {
  text-decoration: underline;
}

.logout-btn {
    background-color: #f5740b; 
    color: #0b0338;
    border: 1px solid cxc; 
    margin-right: 10px;   
    font-size: 16px;
    border: 1px solid transparent;
    padding: 5px 20px;
    border-radius: 50px;

}

.logout-btn:hover {
    background-color:  #ffffff; 
    border-color: #0e0707;
    color: #0b0338;
}
.admin-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2c3e50;
  padding: 10px 20px;
  color: white;
}

.navbar-logo a {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f7fa36;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding-left: 10px;
  
}

.logout-btn {
   background-color: #f5740b; 
    color: #0b0338;
    border: 1px solid cxc; 
    margin-right: 10px;
}

.logout-btn:hover {
  background-color:  #ffffff; 
    border-color: #0e0707;
    color: #0b0338;
}
