.navbar{
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #0b0338; 
  padding: 20px 20px; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  z-index: 1000; 
  
 
}
.navbar-logo h3 {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f7fa36;
}

.navbar-logo  {
  color: #f5740b;
  text-decoration: none;
  font-size: 30px;
font-family:serif;
}


.navbar-links
{

    font-size: 18px;
    color:white;
    list-style: none;
    gap: 40px;
    display: flex;
    text-decoration: none;
}
.navbar-links li a {
  text-decoration: none;
  color: white; /* Or any color you want */
}
.navbar-links li a:hover {
  color: #f5740b; /* Optional: hover effect */
}

.navbar-logo
{
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
   
}
/* Buttons in Navbar */
.navbar button {
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    width: 100px;
    height: 35px;
    margin-right:10px ;
}

/* Login button - orange background */
.login-button {
    background-color: #f5740b; /* orange */
    color: #ffffff;            /* white text */
    border: 1px solid #f5740b;
  
  }

.login-button:hover {
    background-color: #ffffff; /* hover white */
    color: #0b0338;            /* text orange */
}

/* Signup button - gray background */
.signup-button {
    background-color: #e0e0e0; /* gray */
    color: #0b0338;            /* dark text */
    border: 1px solid #b0b0b0;
}

.signup-button:hover {
    background-color: #f5740b;            /* text orange */
    color: white;
     border: 1px solid #0b0338;
}

/* Optional: spacing in Navbar */
.navbar-right {
    display: flex;
    gap: 15px;
}
