.navbar{
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #0b0338; 
  padding: 20px 20px; 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  z-index: 1000; 
 
}
.navbar-logo h3 {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f7fa36;
}

.navbar-logo  {
  color: #f5740b;
  text-decoration: none;
  font-size: 30px;
font-family:serif;
}


.navbar-links
{

    font-size: 18px;
    color:white;
    list-style: none;
    gap: 40px;
    display: flex;
    text-decoration: none;
}
.navbar-links li a {
  text-decoration: none;
  color: white; /* Or any color you want */
}
.navbar-links li a:hover {
  color: #f5740b; /* Optional: hover effect */
}

.navbar-logo
{
    font-size: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#f7fa36;
   
}

.navbar button {
    font-size: 16px;
    border: 1px solid transparent;
    padding: 5px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    width: 100px;
    height: 30px; 
    
    
}


.login-button {
    background-color: #f5740b; 
    color: #0b0338;
    border: 1px solid cxc; 
    margin-right: 10px;   

}

.login-button:hover {
    background-color:  #ffffff; 
    border-color: #0e0707;
    color: #0b0338;
}

.logout-button {
    background-color: #f5740b; 
    color: #0b0338;
    border: 1px solid cxc; 
    margin-right: 50px;   

}


.signup-button {
    background-color: white;
    color:#0b0338;
    border: 1px solid white; 
    margin-right: 40px;
    
}

.signup-button:hover {
    background-color:#f5740b;
    border-color: #070707;
    color:#0b0338;
}

.navbar-links li.active {
    text-decoration: underline;
    font-weight: bold;  
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;  
    text-decoration-color: white;
    
}
.navbar-links li {
    padding: 10px;
    cursor: pointer;
    transition: text-decoration 0.3s ease;
    padding-bottom: 2px;
    color:white;
   
    
}